/* .myfirstid{
    color: rgb(102, 0, 255);
 /* }*/
*{ 
    margin: 0;
    padding: 0;
}
/* .mybg{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0); 
    background-image: url(now.png);
    background-size: 100% 100%; 
    background-attachment: fixed;

} */
/* .img{
    width: 100%;
    height: 100vh;
    background-color: yellow;
    background-image: url(picforhtml.jfif);
    background-size: 100% 100%; 
    background-attachment: fixed;

 } 
#text{
    font-family: 'Notable', sans-serif;
    color: blue;
    font-variant: small-caps;
    font-size: 1em;
    font-style: italic;
    font-weight: 900;

} */

/* #textcss{
    color: gray;
    letter-spacing: 3px;
    word-spacing: 9px;
    direction: ltr;   
    text-indent: 45px;  make the spaces before first word
    text-align: center;
    text-transform: uppercase;
} */
/* a:link{
    color: brown;
}

a:visited{
    color: green;
}
a:hover{
    color: rgb(50, 205, 159);
}
a:active{
    color: rgb(255, 94, 0);
} */

/* .border{
    width: 100px;
    height: 30px;
    background-color: blue;
    /* border-width: 5px;
    border-color: black;
    border-style: dashed; */
    /* border: 10px rgb(0, 0, 0) solid; */
    /* border-radius: 50px; */
/* } */ 
/* ui{
    list-style-type: square;
} */

/* ol{
    list-style-type: lower-roman;
} */
/* 
.boxmodel{
    width: 200px;
    height: 50px;
    background-color: aqua;
    text-indent: 45px;
}
input{
    padding: 2px;
} */
/* .class{
    position: relative;
    width: 600px;
    height: 300px;
    background-color: blue;
}
.student1{
    position: absolute;
    width: 100px;
    height: 34px;
    color: brown;
    background-color: aqua;
    top: 0px;
}
.student2{
    position: absolute;
    width: 100px;
    height: 34px;
    color: brown;
    background-color: gray;
    bottom: 0px;
}
.student3{
    position: absolute;
    width: 100px;
    height: 34px;
    color: brown;
    background-color: green;
    right: 0px;
} */

/* .box{
    width: 200px;
    height: 200px;
    background-color: aqua;
    position:absolute;
   left: 200px;
   top: 200px;
} */

/* h1::first-letter{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
h1::selection{
    background-color: aliceblue;
    color: blue;
} */


/* .pagination{
   text-align: center;
   padding: 20px 20px;

}
.pagination a{
    text-decoration: none;
    padding: 20px;
    color: blue;
    display: inline-block;
    width: 23px;
    height: 23px;
}
.pagination a.active{
    background-color: rgb(0, 246, 4);
    border-radius: 15px;
}
.pagination a:hover:not(.active){
    background-color: rgb(3, 3, 3);
    border-radius: 15px;
    text-decoration: underline;
    border-color: blue;
}*/

/* .dropdown{
    display: inline-block;
}
.dropdown button{
    border: none;
    color: rgb(1, 122, 228);
    background-color: aliceblue;
    padding: 12px 12px;
    cursor: pointer;
    position: sticky;
}
.dropdown a{
    display:block;
    color: rgb(4, 4, 4);
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .students{
    display: none;
    position: absolute;
    background-color: rgb(252, 248, 248);
    min-width: 100px;
    box-shadow: 2px 2px 5px rgb(117, 112, 112);

}
.dropdown:hover .students{
    display: block;
}
.dropdown:hover{
    background-color: rgb(177, 126, 59);
} */

/* h1{
    text-align: center;
}
.Navigation ul{
    text-align: center;
   background-color: rgb(68, 68, 68);
   padding: 12px 12px;
   list-style-type: none;
   overflow: hidden;
   
}
.Navigation a{
color: rgb(11, 199, 86);
display: block;
padding: 23px 23px;
text-decoration: none;
margin-left: 143px;
}
.Navigation a:hover{
    background-color: blue;
}
.Navigation li{
    float: left;
} */

/* *{
    box-sizing: border-box;
}
header{
    background-color: rgb(106, 111, 115);
    text-align: center;
    padding: 23px;
}
.nav{
    background-color: rgb(30, 32, 34);
    text-align: center;
    padding: 23px;
}
.nav ul{
    overflow: hidden;
    list-style-type: none;
    padding: 20px;
}
.nav a{
    color: brown;
    float: left;
    padding: 2px;
    margin-left: 265px;
}

aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}
footer{
    display: block;
    clear: both;
    background-color: rgb(106, 111, 115);
    text-align: center;
    padding: 103px;
} */

/* .gallery{
    display: -block;
    border: 1px solid #ccc;
    margin: 5px;
    width: 200px;

}
.gallery a,
.gallery .description{
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    text-align: center;
    margin: 10px;
   
}
div.gallery:hover {
    border: 1px solid #777;
}
.gallery img{
    width: 100%;
    height: auto;
} */

/* .font{
    font-size: 100px;
    text-align: center;
}
.fa-brands.fa-youtube{
color: brown;
}
.fa-brands.fa-twitter{
    color: rgb(64, 220, 240);
}
.fa-brands.fa-google{
    color: orange
}
.fa-brands.fa-facebook{
    color: blue;
} */


/* .container{
    display: flex;
    flex-direction: ;
    justify-content: flex-start;
}
.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: brown;
}
#box2{
    background-color: yellow;
}
#box3{
    background-color: green;
}
#box4{
    background-color: blue;
} */